---
import Layout from '../layouts/base-layout.astro'
import Nav from '../components/nav.astro'
import Footer from '../components/footer.astro'
import BigContent from '../components/big-content.astro'
import BoxedText from '../components/boxed-text.astro'

const cx = {
  main: 'max-w-5xl mx-auto',
  content: 'px-4 mb-20 w-full flex flex-wrap space-x-3 justify-center md:justify-start',
  heading: 'w-full bg-cover px-4 py-6 md:py-12',
  boxes: 'text-left inline-block font-black italic hyphens-auto',
  project: 'w-32 md:w-48 text-center font-bold text-xl'
}

const theme = {
  light: '#19D6FF',
  dark: '#003641'
}
---
<Layout
  title='girlfriend technology ~ projects'
  className={cx.main}
  {...theme}
>
  <Nav />
  <BigContent className={cx.heading}>
    <span class={cx.boxes}>
      <BoxedText {...theme}>
        {'projects'}
      </BoxedText>
    </span>
  </BigContent>
  <div class={cx.content}>
    <div class={cx.project}>
      <a href='/x-to-y'>
        <img src='/xtoy-icon.png' alt='X to Y icon' />
        <p>X to Y</p>
      </a>
    </div>
    <div class={cx.project}>
      <a href='/magnet-links'>
        <img src='/magnet-links-icon.png' alt='Magnet Links icon' />
        <p>Magnet Links</p>
      </a>
    </div>
  </div>
  <Footer />
</Layout>

