---
const cx = {
  a: 'link f6 f5-ns dib mr3 underline'
}
const { as, children, className, href, title, rel } = Astro.props
---
<a
  class={`${cx.a} ${className}`}
  href={href}
  title={title}
  rel={rel}
>
  <slot />
</a>

